# Списки

In [1]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
big_birds = ['emu', 'ostrich' , 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [3]:
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [4]:
big_birds

['emu', 'ostrich', 'cassowary']

In [5]:
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [2]:
another_empty_list = list()
another_empty_list

[]

In [6]:
list('cat')

['c', 'a', 't']

In [7]:
a_tuple = ('ready', 'fire', 'aim')
a_tuple

('ready', 'fire', 'aim')

In [8]:
list(a_tuple)

['ready', 'fire', 'aim']

In [9]:
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

In [10]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [11]:
splitme.split('//')

['a/b', 'c/d', '/e']

In [12]:
marxes = ['Groucho', 'Chici', 'Harpo']
marxes[0]

'Groucho'

In [13]:
marxes[1]

'Chici'

In [14]:
marxes[2]

'Harpo'

In [15]:
marxes[-1]

'Harpo'

In [16]:
small_birds = ['humm', 'fin']
extinct_birds = ['dodo', 'pass', 'nor']
carol_birds = [3, 'French', 2, 'turt']
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]
all_birds

[['humm', 'fin'], ['dodo', 'pass', 'nor'], 'macaw', [3, 'French', 2, 'turt']]

In [17]:
all_birds[0]

['humm', 'fin']

In [18]:
all_birds[1]

['dodo', 'pass', 'nor']

In [22]:
all_birds[1][0]

'dodo'

In [21]:
all_birds[1][1]

'pass'

In [19]:
all_birds[2]

'macaw'

In [20]:
all_birds[3]

[3, 'French', 2, 'turt']

In [24]:
mar = ['Grou', 'chi', 'Har']
mar[2] =  'War'
mar

['Grou', 'chi', 'War']

In [36]:
mar = ['Grou', 'chi', 'Har', 'ghjoies']
mar[0:2]

['Grou', 'chi']

In [26]:
mar[::2]

['Grou', 'Har']

In [28]:
mar[::-2]

['ghjoies', 'chi']

In [29]:
mar[::-1]

['ghjoies', 'Har', 'chi', 'Grou']

In [37]:
mar.append('Zeppo')
mar

['Grou', 'chi', 'Har', 'ghjoies', 'Zeppo']

In [38]:
others = ['one', 'two']
mar.extend(others)
mar

['Grou', 'chi', 'Har', 'ghjoies', 'Zeppo', 'one', 'two']

In [41]:
mar = ['Grou', 'chi', 'Har', 'ghjoies', 'Zeppo']
others = ['one', 'two']
mar += others
mar

['Grou', 'chi', 'Har', 'ghjoies', 'Zeppo', 'one', 'two']

In [47]:
mar = ['Grou', 'chi', 'Har', 'ghjoies', 'Zeppo']
others = ['one', 'two']
mar.append(others)
mar

['Grou', 'chi', 'Har', 'ghjoies', 'Zeppo', ['one', 'two']]

In [48]:
mar.insert(5, 'Jone')
mar

['Grou', 'chi', 'Har', 'ghjoies', 'Zeppo', 'Jone', ['one', 'two']]

In [49]:
del mar[1]
mar

['Grou', 'Har', 'ghjoies', 'Zeppo', 'Jone', ['one', 'two']]

In [50]:
mar[2]

'ghjoies'

In [51]:
del mar[2]
mar[2]

'Zeppo'

In [52]:
mar.remove('Zeppo')
mar

['Grou', 'Har', 'Jone', ['one', 'two']]

In [53]:
mar = ['Grou', 'chi', 'Har', 'ghjoies']
mar.pop()

'ghjoies'

In [54]:
mar

['Grou', 'chi', 'Har']

In [55]:
mar.pop(1)

'chi'

In [56]:
mar

['Grou', 'Har']

In [58]:
nico = ['one', 'two', 'three']
nico.index('two')

1

In [59]:
'two' in nico

True

In [60]:
'five' in nico

False

In [61]:
leters = ['a', 'b', 'c', 'd', 'e', 'd', 'b', 'b']
leters.count('b')

3

In [62]:
leters.count('d')

2

In [63]:
leters = ['a', 'b', 'c', 'd', 'e', 'd', 'b', 'b']
', '.join(leters)

'a, b, c, d, e, d, b, b'

In [64]:
friends = ['Harry', 'Hermione', 'Ron']
seepp = ' * '
joined = seepp.join(friends)
joined

'Harry * Hermione * Ron'

In [65]:
new = joined.split(seepp)
new

['Harry', 'Hermione', 'Ron']

In [66]:
new == friends

True

In [68]:
leters_sorted = sorted(leters)
leters_sorted

['a', 'b', 'b', 'b', 'c', 'd', 'd', 'e']

In [69]:
leters

['a', 'b', 'c', 'd', 'e', 'd', 'b', 'b']

In [75]:
leters.sort()
leters

['a', 'b', 'b', 'b', 'c', 'd', 'd', 'e']

In [77]:
numbers = [1, 2, 5, 3.0, 4]
numbers.sort()
numbers

[1, 2, 3.0, 4, 5]

In [79]:
numbers.sort(reverse=True)
numbers

[5, 4, 3.0, 2, 1]

In [80]:
len(numbers)

5

In [81]:
a = [1, 2, 3]
a

[1, 2, 3]

In [82]:
b = a
b

[1, 2, 3]

In [84]:
a[0] = 'surp'
a

['surp', 2, 3]

In [85]:
b

['surp', 2, 3]

In [86]:
s = [1, 2, 3]
y = s.copy()
x = list(s)
z = s[:]
s[0] = 100
y

[1, 2, 3]

In [87]:
x

[1, 2, 3]

In [88]:
z

[1, 2, 3]