# '#' comment

In [ ]:
#comment

# \

In [1]:
smksd = 'aqnxjqnxjxn' + \
'dqjhqd' + \
'xknqsxnjq' + \
'jsjj'

In [2]:
smksd

'aqnxjqnxjxndqjhqdxknqsxnjqjsjj'

In [3]:
1 + 2 + \
3

6

# if, while, for

In [4]:
dis = True
if dis:
    print('ffff')
else:
    print('ggggg')

ffff

In [5]:
furry = True
small = True
if furry:
    if small:
        print("It is a cat")
    else:
        print("It is a bear")
else:
    if small:
        print("It is a skink")
    else:
        print("It is a human")

It is a cat

In [7]:
x = 7

x == 5

False

In [8]:
x == 7

True

In [9]:
x >= 5

True

In [10]:
x <= 6

False

In [11]:
5 < x and x < 10

True

In [12]:
5 < x or x < 10

True

In [13]:
5 < x and x > 10

False

In [14]:
5 < x and  not x > 10

True

In [15]:
some_list = []
if some_list:
    print("There's something")
else:
    print("It is empty")

It is empty

In [17]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [18]:
while True:
    stuff = input("String to capitalize[type q to quit]")
    if stuff == "q":
        break
    print(stuff.capitalize())

String to capitalize[type q to quit]error
Error
String to capitalize[type q to quit]home
Home
String to capitalize[type q to quit]q

In [4]:
while True:
    value = input("Integer. please[q to quit]: ")
    if value == "q":
        break
    number = int(value)
    if number % 2 == 0:
        continue
    print(number, "squared is ", number*number)

Integer. please[q to quit]: 1
1 squared is  1
Integer. please[q to quit]: 2
Integer. please[q to quit]: 3
3 squared is  9
Integer. please[q to quit]: 4
Integer. please[q to quit]: 5
5 squared is  25
Integer. please[q to quit]: 6
Integer. please[q to quit]: q

In [9]:
numbers = [1, 3, 5]
position = 0
while position < len(numbers):
    number = numbers[position]
    if number % 2 == 0:
        print("found even number", number)
        break
    position += 1
else:
    print('no even number found')

no even number found

In [10]:
rabbits = ['Flopsy', 'Mopsy', 'Cottontail', 'Peter']
current = 0
while current < len(rabbits):
    print(rabbits[current])
    current += 1

Flopsy
Mopsy
Cottontail
Peter

In [11]:
for rabbit in rabbits:
    print(rabbit)

Flopsy
Mopsy
Cottontail
Peter

In [13]:
word = 'cat'
for letter in word:
    print(letter)

c
a
t

In [14]:
accusation = {
    'room': 'ballroom',
    'weapon': 'lead pipe',
    'person': 'Col. Mustard'
}
for card in accusation:
    print(card)

room
weapon
person

In [15]:
for value in accusation.values():
    print(value)

ballroom
lead pipe
Col. Mustard

In [16]:
for item in accusation.items():
    print(item)

('room', 'ballroom')
('weapon', 'lead pipe')
('person', 'Col. Mustard')

In [17]:
for card, contents in accusation.items():
    print('Card', card, 'has the content', contents)

Card room has the content ballroom
Card weapon has the content lead pipe
Card person has the content Col. Mustard

In [19]:
cheeses = []
for cheese in cheeses:
    print('This shop has some lovely ', cheese)
    break
else:
    print('This is not much of a cheese shop, is it?')

This is not much of a cheese shop, is it?

In [20]:
cheeses = []
found_one = False
for cheese in cheeses:
    found_one = True
    print('This shop has some lovely ', cheese)
    break
else:
    print('This is not much of a cheese shop, is it?')

This is not much of a cheese shop, is it?

# zip()

In [22]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "eat", fruit, "enjoy", dessert)

Monday : drink coffee eat banana enjoy tiramisu
Tuesday : drink tea eat orange enjoy ice cream
Wednesday : drink beer eat peach enjoy pie

In [23]:
english = "Monday", "Tuesday", "Wednesday"
french = "Lundi", "Mardi", "Merredi"
list(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Merredi')]

In [24]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Merredi'}

# range()

In [25]:
for x in range(0,3):
    print(x)

0
1
2

In [26]:
list(range(0, 3))

[0, 1, 2]

In [27]:
for x in range(2, -1, -1):
    print(x)

2
1
0

In [28]:
list(range(2,-1,-1))

[2, 1, 0]

In [29]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

# Включения

In [54]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list.append(6)
number_list

[1, 2, 3, 4, 5, 6]

In [55]:
number_list = []
for number in range(1, 6):
    number_list.append(number)
    
number_list

[1, 2, 3, 4, 5]

In [56]:
number_list = list(range(1, 6))
number_list

[1, 2, 3, 4, 5]

In [57]:
number_list = [number for number in range(1,10)]
number_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
number_list = [number-1 for number in range(1,10)]
number_list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
number_list = [number-1 for number in range(1,10) if number % 2 == 1]
number_list

[0, 2, 4, 6, 8]

In [60]:
a_list = []
for number in range(1, 6):
    if number % 2 == 1:
        a_list.append(number)
a_list

[1, 3, 5]

In [61]:
rows = range(1, 4)
cols = range(1, 3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [62]:
rows = range(1, 4)
cols = range(1, 3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [63]:
for row, col in cells:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [64]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [65]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
letter_counts

{'s': 1, 't': 2, 'e': 2, 'r': 1, 'l': 1}

In [66]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

In [67]:
number_thing = (number for number in range(1, 6))
for number in number_thing:
    print(number)

1
2
3
4
5

In [68]:
number_list = list(number_thing)
number_list

[]